{% if isLoggedIn %}
    {% extends 'base/header_footer_loggedin.html' %}
{% else %}
    {% extends 'base/header_footer.html' %}
{% endif %}

{% block page_title %}Booking Summary{% endblock page_title %}

{% set page_style = 'styles/booking-summary.css' %}
{% set page_script = 'scripts/booking-summary.js' %}

{% block content %}
<div class="container mt-5">
    {% if payment_success %}
        <h1 class="text-center text-success">PAYMENT SUCCESSFUL!</h1>
    {% else %}
        <h1 class="text-center text-danger">PAYMENT FAILED!</h1>
        <p class="text-center">Please try again.</p>
    {% endif %}
    <table class="table table-bordered mt-4">
        <tr>
            <th class="text-center">Event/Show/Movie name</th>
            <td class="text-center" data-field="event_name"></td>
        </tr>
        <tr>
            <th class="text-center">Location</th>
            <td class="text-center" data-field="location"></td>
        </tr>
        <tr>
            <th class="text-center">Date</th>
            <td class="text-center" data-field="date"></td>
        </tr>
        <tr>
            <th class="text-center">Time</th>
            <td class="text-center" data-field="time"></td>
        </tr>
        <tr>
            <th class="text-center">Seats</th>
            <td class="text-center" data-field="seats"></td>
        </tr>
        <tr>
            <th class="text-center">Txn ID</th>
            <td class="text-center" data-field="txn_id"></td>
        </tr>
        <tr>
            <th class="text-center">Booking Date</th>
            <td class="text-center" data-field="booking_date"></td>
        </tr>
        <tr>
            <th class="text-center">Booking Time</th>
            <td class="text-center" data-field="booking_time"></td>
        </tr>
    </table>
    <button class="btn btn-primary mt-4" onclick="window.print()">Print Receipt</button>
</div>
{% endblock content %}